<div class="shadow rounded">
    <div class="p-2">
        <form autocomplete="off">
            <div class="mb-2 row">
                <div class="col-11 text-center ui-widget p-3">
                    <input type="text" id="tags" placeholder="Search Recipe" class="form-control" name="recipe" />
                </div>
                <div class="col-1 p-3">
                    <button type="submit" class="btn btn-sm btn-success p-2">Search</button>
                </div>
            </div>
        </form> 
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        var availableTags = [
            "Mushrooms",
            "Pumpkin",
            "Tomato",
            "Apple",
            "Banana",
            "Blackberry",
            "Blueberry",
            "Coconut",
            "Grape",
            "Kiwifruit",
            "Mango",
            "Orange",
            "Papaya",
            "Pineapple",
            "Strawberry",
            "Watermelon",
            "Salad",
            "Pizza",
            "Pasta",
            "Popcorn",
            "Hamburger",
            "Pie",
            "Cake",
            "Sausage",
            "Kebab",
            "Poutine",
            "Seafood",
            "Chips",
            "Fries",
            "Masala",
            "Chicken",
            "Chocolate",
            "Sushi",
            "Ice cream"
        ];
        $("#tags").autocomplete({
            source: availableTags,
            minLength:2
        });
    });
</script>