<ul class="list-group-flush px-0 vh-100 overflow-auto" >
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Mushrooms">Mushrooms</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Pumpkin">Pumpkin</a>
    </li> 
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Tomato">Tomato</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Apple">Apple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Banana">Banana</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Blackberry">Blackberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Blueberry">Blueberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Coconut">Coconut</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Grape">Grape</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Kiwifruit">Kiwifruit</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Mango">Mango</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Orange">Orange</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Papaya">Papaya</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Pineapple">Pineapple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Strawberry">Strawberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Watermelon">Watermelon</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Salad">Salad</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Pizza">Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Pasta">Pasta</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Popcorn">Popcorn</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Hamburger">Hamburger</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Pie">Pie</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Cake">Cake</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Sausage">Sausage</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Kebab">Kebab</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Poutine">Poutine</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Seafood">Seafood</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Chips">Chips</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Fries">Fries</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Masala">Masala</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Chicken">Chicken</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Chocolate">Chocolate</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Sushi">Sushi</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=Ice cream">Ice cream</a>
    </li>
</ul>